{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="wrapper fadeInDown">

    <div id="formContent">
      <!-- Tabs Titles -->
  
      <!-- Icon -->
      <div class="fadeIn first py-5">
        <img src="{% static 'images/logo.png' %}" id="icon" alt="User Icon" />
      </div>
  
        {% block allauth_content %}
        {% endblock %}
  
        <div id="formFooter">
            <a class="underlineHover" href="{% url 'dashboard' %}">Dashboard</a>
          </div>
      
  
    </div>
  </div>
  {% endblock %}