body {
    margin: 0;
    padding: 0;
    background-color: #fff;
}

/* allauth templates */
#icon {
    border-radius: 50%;
    background-color: #244c3c;
}

#formContent a {
    color: #244c3c;
    display: inline-block;
    text-decoration: none;
    font-weight: 400;
}

#formContent a:hover {
    color: #66e0af;
}

h2 {
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    display: inline-block;
    margin: 40px 8px 10px 8px;
    color: #cccccc;
}

/* STRUCTURE */
.wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-height: 100%;
    margin: 200px 0 300px 0;
    height: 100vh;
    padding: 20px;
}

#formContent {
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    background: #fff;
    padding: 30px;
    width: 90%;
    max-width: 450px;
    position: relative;
    padding: 0px;
    -webkit-box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
    text-align: center;
}

#formContent li {
    list-style: none;
}

#formContent ul {
    padding: 0;
}

#formContent button {
    color: #fff;
    background-color: #45dd68;
    border-color: #13401d;
    padding: 0.375rem 0.75rem;
    margin-bottom: 20px;
    width: 80%;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

#formContent button:hover {
    color: #fff;
    background-color: #237236;
    border-color: #0c2c14;
}

#formFooter {
    background-color: #f6f6f6;
    border-top: 1px solid #dce8f1;
    padding: 25px;
    text-align: center;
    -webkit-border-radius: 0 0 10px 10px;
    border-radius: 0 0 10px 10px;
}

/* TABS */

h2.inactive {
    color: #cccccc;
}

h2.active {
    color: #0d0d0d;
    border-bottom: 2px solid #5fbae9;
}

/* FORM TYPOGRAPHY*/

#formContent input {
    background-color: #56baed;
    border: none;
    color: white;
    padding: 15px 80px;
    width: 80%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    font-size: 13px;
    -webkit-box-shadow: 0 10px 30px 0 rgba(95, 186, 233, 0.4);
    box-shadow: 0 10px 30px 0 rgba(95, 186, 233, 0.4);
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    margin: 5px 10% 40px 10%;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

input[type=button]:hover,
input[type=submit]:hover,
input[type=reset]:hover {
    background-color: #39ace7;
}

input[type=button]:active,
input[type=submit]:active,
input[type=reset]:active {
    -moz-transform: scale(0.95);
    -webkit-transform: scale(0.95);
    -o-transform: scale(0.95);
    -ms-transform: scale(0.95);
    transform: scale(0.95);
}

input[type=text] {
    background-color: #f6f6f6;
    border: none;
    color: #0d0d0d;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px;
    width: 90%;
    border: 2px solid #f6f6f6;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
}

input[type=text]:focus {
    background-color: #fff;
    border-bottom: 2px solid #5fbae9;
}

input[type=text]:placeholder {
    color: #cccccc;
}

/* ANIMATIONS */

/* Simple CSS3 Fade-in-down Animation */
.fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }

    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }

    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

/* Simple CSS3 Fade-in Animation */
@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.fadeIn {
    opacity: 0;
    -webkit-animation: fadeIn ease-in 1;
    -moz-animation: fadeIn ease-in 1;
    animation: fadeIn ease-in 1;

    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;

    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    animation-duration: 1s;
}

.fadeIn.first {
    -webkit-animation-delay: 0.4s;
    -moz-animation-delay: 0.4s;
    animation-delay: 0.4s;
}

.fadeIn.second {
    -webkit-animation-delay: 0.6s;
    -moz-animation-delay: 0.6s;
    animation-delay: 0.6s;
}

.fadeIn.third {
    -webkit-animation-delay: 0.8s;
    -moz-animation-delay: 0.8s;
    animation-delay: 0.8s;
}

.fadeIn.fourth {
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    animation-delay: 1s;
}

/* Simple CSS3 Fade-in Animation */
.underlineHover:after {
    display: block;
    left: 0;
    bottom: -10px;
    width: 0;
    height: 2px;
    background-color: #56baed;
    content: "";
    transition: width 0.2s;
}

.underlineHover:hover {
    color: #0d0d0d;
}

.underlineHover:hover:after {
    width: 100%;
}


/* OTHERS */

*:focus {
    outline: none;
}

#icon {
    width: 30%;
}

/* Header Styles */
.logo {
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    padding: 1rem;
}

.title {
    width: 80%;
    margin: auto;
    font-size: 3rem;
    text-align: center;
}

.icons {
    width: 7%;
    font-size: 1rem;
    margin: auto;
}

.fa {
    font-size: 30px;
    padding-right: 15px;
    margin-top: 8px;
    cursor: pointer;
}

.fa:hover {
    color: #fa6e06;
}

.navbar-brand {
    margin: 0;
    padding: 0;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;
}

.navbar-toggler {
    background-color: #dcdcbb;
    z-index: 100;
}

.navbar-text {
    padding-right: 10%;
}

/* Hero Section Styles */

#hero {
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url(../images/hero-image.jpg);
    background-size: cover;
    background-position: center;
}

.hero-text-box {
    width: 50%;
    min-height: 200px;
    padding: 10px 5px 25px 5px;
    border-radius: 8px;
    font-size: 200%;
    font-family: Arial, sans-serif;
    background-color: rgba(66, 94, 106, 0.5);
    margin-bottom: 60%;
    margin-top: 33%;
}

.hero-text-box h3 {
    margin-top: 5%;
}

p {
    margin-top: 10px;
    color: #555;
}

/* Style form fields
form input[type="text"],
form input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
} */

/* Style submit button
form button {
    background-color: #244c3c;
    color: #dcdcbb;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    color: #fa6e06;
} */

/* Style social account login section */
.social-login {
    margin-top: 20px;
}

.social-login a {
    display: inline-block;
    margin-right: 10px;
    text-decoration: none;
    color: #007bff;
}

/* Container Styles */
form {
    margin-top: 20px;
}

.dashboard {
    margin-top: 10px;
}

/* .login-container {
    margin-top: 80px;
    padding-left: 5px;
} */

.tab-container {
    margin-top: 80px;
    padding-left: 5px;
}

/* .logout-container {
    margin-top: 80px;
    padding-left: 5px;
} */

/* .signup-container {
    margin-top: 80px;
    padding-left: 5px;
} */

/* Footer Styles */
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer-container {
    max-width: 600px;
    margin: 50px auto;
    background-color: #dcdcbb;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 -10px 10px -10px rgba(18, 0, 0, 0.986), 0 10px 10px -10px rgb(0, 0, 0);
}

/* General Styles */
.green-background {
    background-color: #244c3c !important;
}

.text-cream {
    color: #dcdcbb;
    font-weight: bold;
}

.text-cream:hover {
    color: #fa6e06;
}

.text-title {
    color: #dcdcbb;
    font-weight: bold;
}

.text-grey {
    color: #425e6a;
    font-weight: bold;
}

.text-grey:hover {
    color: #fa6e06;
}

/* bill form modal */

.bill_form {
    margin-top: 140px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    -webkit-box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
    text-align: center;
    font-size: 1.3em;
}

.bill_form button {
    margin: 10px 10% 10px 10%;
}

.bill_form input {
    background-color: #56bbed5a;
    border: none;
    color: rgb(53, 115, 77);
    padding: 10px 80px;
    font-size: 1.3em;
    width: 80%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    -webkit-box-shadow: 0 10px 30px 0 rgba(95, 186, 233, 0.4);
    box-shadow: 0 10px 30px 0 rgba(95, 186, 233, 0.4);
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    margin: 5px 10% 40px 10%;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}