/*header*/
nav {
    display: flex;
}
.logo-container {
    width: 10%;
}
.logo {
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    padding: 2rem;
}
.title {
    width: 80%;
    margin: auto;
    font-size: 3rem;
    text-align: center;
}
.icons {
    width: 10%;
    font-size: 2rem;
    margin: auto;
}

/* Styles for the signup page */

body {
    font-family: Arial, sans-serif;
    background-color: #dcdcbb;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    background-color:#526c5b;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #333;
}

p {
    margin-top: 10px;
    color: #555;
}

form {
    margin-top: 20px;
}

/* Style form fields */
form input[type="text"],
form input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
}

/* Style submit button */
form button {
    background-color: #fa6e06;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Style social account login section */
.social-login {
    margin-top: 20px;
}

.social-login a {
    display: inline-block;
    margin-right: 10px;
    text-decoration: none;
    color: #007bff;
}

/* Responsive design */
@media (max-width: 768px) {
    .container {
        max-width: 100%;
        margin: 20px;
    }
}

/* End of Styles for the signup page */

/* signup styling */

