body {
    margin: 0;
    padding: 0;
    background-color: #fff;
}

/* Header Styles */
.logo {
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    padding: 1rem;
}
.title {
    width: 80%;
    margin: auto;
    font-size: 3rem;
    text-align: center;
}
.icons {
    width: 7%;
    font-size: 1rem;
    margin: auto;
}

.fa {
    font-size: 30px;
    padding-right: 15px;
    margin-top: 8px;
    cursor: pointer;
}

.navbar-brand {
    margin: 0;
    padding: 0;
}

.navbar {
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 99;
    }

.navbar-toggler {
    background-color:#dcdcbb;
    z-index: 100;
}

.navbar-text {
    padding-right: 10%;
}

/* Hero Section Styles */

#hero {
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url(../images/hero-image.jpg);
    background-size: cover;
    background-position: center;
}

.hero-text-box {
    width: 50%;
    min-height: 200px;
    padding: 10px 5px 25px 5px;
    border-radius: 8px;
    font-size: 200%;
    font-family: Arial, sans-serif;
    background-color: rgba(66, 94, 106, 0.5);
    margin-bottom: 60%;
    margin-top: 33%;
}

.hero-text-box h3 {
    margin-top: 5%;
}

p {
    margin-top: 10px;
    color: #555;
}

/* Style form fields */
form input[type="text"],
form input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
}

/* Style submit button */
form button {
    background-color: #244c3c;
    color: #dcdcbb;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Style social account login section */
.social-login {
    margin-top: 20px;
}

.social-login a {
    display: inline-block;
    margin-right: 10px;
    text-decoration: none;
    color: #007bff;
}

/* Container Styles */
form {
    margin-top: 20px;
}

.dashboard {
    margin-top: 10px;
}

.login-container {
    margin-top: 80px;
}

.tab-container {
    margin-top: 80px;
}

.logout-container {
    margin-top: 80px;
}

.signup-container {
    margin-top: 80px;
}

/* Footer Styles */
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer-container {
    max-width: 600px;
    margin: 50px auto;
    background-color:#dcdcbb;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 -10px 10px -10px rgba(18, 0, 0, 0.986), 0 10px 10px -10px rgb(0, 0, 0);
}

/* General Styles */
.green-background {
    background-color: #244c3c !important;
}

.text-cream {
    color: #dcdcbb;
    font-weight: bold;
}

.text-grey {
    color: #425e6a;
    font-weight: bold;
}
