{% extends 'base.html' %}
{% load static %}
{% block content %}

    <div class="tab-container">
        {% include 'dashboard/includes/dashboard-nav.html' %}

        <h1 class="text-center title mt-5 text-grey border-bottom">Chart To Display Expenses</h1>
        <div style="margin: 5% auto; width: 50%; height: 50%">
            <canvas id="myChart"></canvas>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script>
        const ctx = document.getElementById('myChart').getContext('2d')

        const data = {
            labels: [{% for e in sums_by_store.keys %}"{{ e }}",{% endfor %}],
            datasets: [{
                label: 'Amount £',
                data: [{% for e in sums_by_store.values %}"{{ e }}",{% endfor %}],
                backgroundColor: [
                    'rgb(255, 99, 132)',
                    'rgb(54, 162, 235)',
                    'rgb(255, 205, 86)'
                ],
                hoverOffset: 4
            }]
        };

        new Chart(ctx, {
            type: 'pie',
            data: data,
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
    </script>

{% endblock %}