{% extends 'base.html' %}
{% load static %}

{% block content %}
    {% if user.is_authenticated %}
        <div class="tab-container">
            {% include 'dashboard/includes/dashboard-nav.html' %}

            <div class="tab-content">
                <div class="row mt-5 mx-0">
                    <div class="col-12 col-xl-8">
                {#            Expenses tab Content#}
                <div class="container tab-pane active" id="upcomingBills">
                    <section class="dashboard">
                        <div class="w-100 d-flex justify-content-between">
                            <h1 class="d-inline">Expenses</h1>

                            <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#new_expense">New
                                Expense <i
                                        class="fa-solid fa-plus border rounded-5 p-1 "></i></button>
                            
                        </div>
                        {# New Expense Modal#}
                        <div class="modal fade income_form" id="new_expense" tabindex="-1" role="dialog"
                             aria-labelledby="editModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title fs-5" id="exampleModalLabel">{{ user }}'s Expense</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                    </div>
                                    <form method="post" action="{% url 'expense' %}">
                                        {% csrf_token %}
                                        {{ form.as_p }}
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close
                                        </button>
                                        <button type="submit" class="btn btn-primary">Save changes</button>
                                    </form>
                                </div>
                            </div>
                        </div>


                        <div class="table-responsive">
                            <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Source</th>
                                <th scope="col">Category</th>
                                <th scope="col">Amount</th>
                                <th scope="col">Description</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for form, expense in my_list %}
                                <tr>
                                    <th>{{ forloop.counter }}</th>
                                    <td>{{ expense.source | title }}</td>
                                    <td>{{ expense.category }}</td>
                                    <td>{{ expense.amount }}</td>
                                    <td>{{ expense.description }}</td>


                                    <td>
                                        <button type="button" class="btn btn-secondary" data-bs-toggle="modal"
                                                data-bs-target="#modal-{{ expense.id }}">Edit
                                        </button>
                                    </td>
                                    <td>
                                        <button type="button" data-bs-toggle="modal"
                                                data-bs-target="#delete-modal-{{ expense.id }}" class="btn btn-danger">
                                            Delete
                                        </button>
                                    </td>
                                </tr>

                                <div class="modal fade income_form" id="delete-modal-{{ expense.id }}" tabindex="-1"
                                     role="dialog"
                                     aria-labelledby="editModalLabel"
                                     aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title fs-5" id="exampleModalLabel">
                                                    Deleting: {{ expense.source }}</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                        aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <h5>Are you sure you want to delete this expense?</h5>
                                            </div>
                                            <form method="post" action="{% url 'delete_expense' expense.id %}">
                                                {% csrf_token %}
                                                <button type="submit" class="btn btn-danger">Delete</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>

                                <!-- Modal -->
                                <div class="modal fade expense_form" id="modal-{{ expense.id }}" tabindex="-1"
                                     role="dialog"
                                     aria-labelledby="editModalLabel"
                                     aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title fs-5" id="exampleModalLabel">
                                                    Editing: {{ expense.source }}</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                        aria-label="Close"></button>
                                            </div>
                                            <form method="post" action="{% url 'edit_expense' expense.id %}">
                                                {% csrf_token %}
                                                {{ form.as_p }}
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                                    Close
                                                </button>
                                                <button type="submit"
                                                        class="btn btn-primary">Save changes
                                                </button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    </section>
                </div>
            </div>
       

        <div class="col-12 col-xl-3 border bg-light p-2 mr-3 mb-5">
            <div class="filter-form ">
                <h2 class="title w-100 border-bottom">Filter</h2>
                <form method="get"  action="{% url 'expense' %}">
                    {% csrf_token %}
                    {{ expense_filter_form.as_p }}

                    <a href="{% url 'expense' %}" class="btn btn-secondary">Reset
                    </a>
                    <button type="submit"
                            class="btn btn-primary">filter
                    </button>
                </form>

                <h3 class="title border-bottom">Results:</h3>
                <h5 class="text-center mt-3 border p-3">Total amount: £ {{ total_amount }}</h5>
            </div>
        </div>
    </div>
    {% else %}
        <section id="hero" class="d-flex justify-content-center align-items-center vh-100">
            <div class="hero-text-box text-center">
                <h3>Welcome to BalanceBuddy, your trusted companion for personal finance management. Sign up or log in
                    to start your journey towards financial freedom and balance</h3>
            </div>
        </section>
    {% endif %}


{% endblock %}